<div>
  <h1>Tarefas</h1>
  <mat-button-toggle [checked]="showCompleted"
    matTooltip="Mostrar Concluídas"
    (change)="showCompleted = $event.source.checked">
    <mat-icon>{{showCompleted ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-button-toggle>
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1">
    <mat-grid-tile *ngFor="let key of filterTasks()" class="task-tile">
      <mat-card class="task-card" *ngIf="showCompleted || !tasks[key].done">
        <mat-card-header>
          <mat-card-title>
            <h2 class="mat-h2" matTooltip="{{key}}">{{tasks[key].name | uppercase}}</h2>
          </mat-card-title>
          <mat-card-subtitle>
            <p>{{tasks[key].scheduled | date}}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
          <h3>
            {{tasks[key].detail}}
          </h3>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions>
          <button mat-icon-button
            color="{{tasks[key].done ? 'primary' : 'accent'}}"
            matTooltip="Concluir tarefa"
            (click)="changeConfirmation(key)">
            <mat-icon>
              {{tasks[key].done ? 'check_box' : 'check_box_outline_blank'}}
            </mat-icon>
          </button>
          <button mat-icon-button matTooltip="Editar tarefa" routerLink="/task/{{key}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button color="warn"
            mat-icon-button
            (click)="deleteTask(key)"
            matTooltip="Excluir tarefa">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-fab color="primary"
    class="button-float"
    matTooltip="Nova Tarefa"
    routerLink="/task/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
