.task-card {
  width: 80%;
}

.done {
  border-color: #4CAF50;
}

.task-tile {
  border: 1px dashed #ddd;
}

.button-float {
  position: fixed;
  float: right;
  z-index:1000;
  right: 40px;
  bottom:40px;
}
