<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let key of tasks | keys" class="task-tile">
    <mat-card class="task-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-h2" matTooltip="{{key}}">{{tasks[key].name}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{tasks[key].scheduled | date}}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <h3>
          {{tasks[key].detail}}
        </h3>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions>
        <button mat-icon-button color="{{tasks[key].done ? 'primary' : 'accent'}}">
          <mat-icon>
            {{tasks[key].done ? 'check_box' : 'check_box_outline_blank'}}
          </mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warn" mat-icon-button (click)="deleteTask(key)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
