<!-- <form class="form-full-width"> -->
<mat-form-field class="input-full-width">
  <input matInput
    type="text"
    placeholder="Nome da tarefa"
    [(ngModel)]="name"
  />
</mat-form-field>
<mat-form-field class="input-full-width">
  <textarea matInput
    placeholder="Descrição da tarefa"
    [(ngModel)]="detail"
  ></textarea>
</mat-form-field>
<mat-form-field class="input-full-width">
  <input matInput [matDatepicker]="scheduled" placeholder="Quando?" (onChange)="onDate($event)">
  <mat-datepicker-toggle matSuffix [for]="scheduled"></mat-datepicker-toggle>
  <mat-datepicker #scheduled ></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" (click)="submitTask()">Adicionar</button>
<button mat-raised-button (click)="resetForm()">Cancelar</button>
  <!-- </form -->
